*.o
.deps
.dirstamp
config.log
config.status
config.h
config.h.in
config.h.in~
stamp-h1
Makefile.in
Makefile
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.sub
/configure
/configure~
/depcomp
/install-sh
/missing
/doc/daisy-player.html
/man/daisy-player.1
/src/madplay/#
/src/madplay/am--include-marker
/src/daisy-player
