*.o
.deps
.dirstamp
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.h
config.h.in
config.h.in~
config.rpath
config.sub
configure
depcomp
install-sh
missing
stamp-h1
Makefile.in
Makefile
/ABOUT-NLS
/configure~
/doc/daisy-player.html
/man/daisy-player.1
/m4/
/po/*.gmo
/po/*.pot
/po/*.sed
/po/*.sin
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/en@*quot*
/po/stamp-po
/src/madplay/#
/src/madplay/am--include-marker
/src/daisy-player
/test-driver
/tests/*.log
/tests/*.trs
